.bundle
.config
.yardoc
tmp
.idea
.yardoc
.sass-cache
.DS_Store
compiled
config/initializers/env.rb
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
